/* base styles */
html {
  font-size: 16px;
  font-family: Helvetica, Open Sans;
  background-color: whitesmoke;
}

.center {
  margin: 0 auto;
}



strong {
  color: maroon;
}

table {
  border-collapse: collapse;
}
table, th, td, th {
  border: 1px solid gray;
}

td, th {
  padding: 0.5em;
}

td.movement {
  background-color: lightgreen;
}

td.noMovement {
  background-color: Gainsboro;
}


/* d3 styles */

.line {
  fill: maroon;
  stroke-width: 1.5px;
}

.label {
  font-size: 14px;
}
