{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'sensor/style.css' %}" />
</head>

<body>

<h1>Past 1000 settings</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Time</th>
            <th>Result</th>
        </tr>

        {% for reading in readings %}
        <tr>
            <td><strong> {{ reading.id }}</strong></td>
            <td>{{ reading.date_time | date:"SHORT_DATETIME_FORMAT" }}</td>

            {% if reading.value > 0 %}
            <td class="movement">{{ reading.value }}</td>
            {% else %}
            <td class="noMovement">{{ reading.value }}</td>
            {% endif %}


        </tr>
        {% endfor %}
    </table>


    <script>
        var data = {{ data | safe }}

        console.log(data)
    </script>

</body>


</html>
