{% load static %}
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <link rel="stylesheet" href="{% static 'sensor/style.css' %}" />
    <script src="{% static 'sensor/js/libs/d3.v4.min.js' %}"></script>

</head>

<body>
  {% include "sensor/navbar.html" %}


<div class="content">


<h1>Today's readings</h1>
<p>The <strong>red lines</strong> indicate motion</p>
  <svg id="graphic" width="350" height="1500"></svg>
</table>
</div>

<script>

var data = {{ data | safe}}
</script>

<script src="{% static 'sensor/js/vertical_graph.js' %}"></script>


</body>
</html>
